<nav id="navbar">
  <ul>
    <li class="logotype">
      <div class="logotype__items">
        <img ngSrc="./assets/images/holambra_cooperativa.svg" width="203" height="70" alt="Logo da Cooperativa Agroindustrial Holambra">
        <img ngSrc="./assets/images/telescope_holambra.svg" width="92" height="70" alt="Logo da Cooperativa Agroindustrial Holambra">
      </div>
    </li>

    <li class="burger" (click)="toggleMenu()">
      <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
    </li>
    <li class="menu" [class.is-open]="isMenuOpen">
      <a href="#application" class="menu__item">Increva-se</a>
      <a href="#challenge" class="menu__item">Desafios</a>
      <a href="#schedule" class="menu__item">Cronograma</a>
      <a href="#awards" class="menu__item">Premiação</a>
      <a href="#" class="menu__item">Regulamento</a>
    </li>
  </ul>
</nav>
