@import '../../../variaveis.scss';

$menuHeight: 60px;
$menuBreakpoint: 1024px;

#navbar  {
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $cyan-500;

    @media (max-width: $menuBreakpoint) {
      background-color: $blue-700;
    }

  }

  .logotype {
    width: 100%;
    background: $blue-700;
    display: flex;
    justify-content: center;

    .logotype__items {
      width: 34rem;

      @media (max-width: 1095px) {
        width: auto;
      }

      img  {
        margin-right: 1.5rem;
      }

    }
  }

  .burger {
    display: none;
    cursor: pointer;
    padding: 0 10px;


    i {
      color: $white;
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    width: 100%;
    background: $cyan-500;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 14};
        background: #fff;
        width: 100%;

        .menu-item {
          color: $blue-700;
          border-bottom: 1px solid #cccccc;
        }
      }
    }

    .menu-item {
      padding: 0 10px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: .875rem;
      font-weight: 600;
      color: $white;
    }
  }
}
