<header class="header">
  <div class="header__content">
    <div class="header__info_content">
      <div class="header__info_items">
        <div class="header__info_text">
          <h1>Desafio de inovação holambra cooperativa</h1>
          <p>É hora de colocar seu projeto em prática e fazer a diferença no dia a dia dos produtores rurais.</p>
        </div>
        <div>
          <app-button [btnConfig]="button_tertiary" title="Inscreva-se"></app-button>
        </div>
      </div>
    </div>
  
    <div class="header__img">
      <img ngSrc="./assets/logo_visibilidade.svg" width="420" height="352" alt="Logo da Visibilidade">
    </div>
  </div>
</header>