@import '../../../variaveis.scss';

.schedule__section {
  background-color: $blue-700;
  padding: 3.938rem 1rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  border: 1px red solid;

}

.schedule__content {
  max-width: 70rem; 
}

.schedule__content h1 {
  font-size: 3rem;
  color: $cyan-500;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}