@import '../../../variaveis.scss';

.challenge {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
  width: 100%;
}

.challenge__content {
  max-width: 69.375rem;
}

.challenge__info h1 {
  font-size: 3rem;
  color: $blue-700;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.challenge__info p {
  font-size: 1rem;
  color: $blue-900;
}

.challenge__info p span {
  color: $cyan-500;
  font-weight: 600;
}