@mixin fontPoppins($name, $weight, $style) {
  @font-face {
    font-family: Gibson;
    src: url('/assets/fonts/#{$name}.ttf') format("truetype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include fontPoppins('Gibson-Light', 300, normal);
@include fontPoppins('Gibson', normal, normal);
@include fontPoppins('Gibson-SemiBold', 600, normal);
@include fontPoppins('Gibson-Bold', bold, normal);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font: inherit;
    vertical-align: baseline;

    font-family: Gibson, sans-serif;
}

html {
  scroll-behavior: smooth;
}
