@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$font-primary: "Inter", sans-serif;

$white: #FFFFFF;
$gray-200: #CBCBCB;
$gray-300: #757575;
$red-400: #F04B54;

$cyan-500: #42C0B6;
$blue-100: #E7ECF2;
$blue-200: #9BAFC6;
$blue-700: #003262;
$blue-900: #212529;
