@import '../../../variaveis.scss';

.awards__list {
  display: flex;
  justify-content: center;
}

.awards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21.875rem;
  gap: 1rem;
}

.awards__card h2 {
  font-size: 1.5rem;
  color: $cyan-500;
  font-weight: 800;
  text-align: center;
}

.awards__card p {
  font-size: 1.5rem;
  color: $blue-900;
  font-weight: 300;
}